<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  
</head>
<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="index.html">Home</a>
                </div>
                
                <div class="nav-link-wrapper">
                    <a href="about.html">About</a>
                </div>
                
                <div class="nav-link-wrapper">
                    <a href="contact.html">Contact</a>
                </div>
            </div>

            <div class="right-side">
                <div>
                    <a href="https://www.linkedin.com/in/quido-kuiper-6b3529116/"><i class="fa fa-linkedin" style="font-size:24px"></i></a>
                    <a href="https://github.com/qkuiper"><i class="fa fa-github" style="font-size:24px"></i></a>
                </div>
                
                <div class="brand">
                    <div>QUIDO KUIPER</div>
                </div>
            </div>
        </div>
    
        <div class="content-wrapper">
            <div class="two-column-wrapper">
                <div class="profile-image-wrapper">
                    <img src="static/images/profile.jpg">
                </div>
                
                <div class="profile-content-wrapper">
                    <div class="profile-text-wrapper">
                        <h1>Hi, thanks for visiting my site.</h1>

                        <p>I`m a passionate python developer, with two years of experience under my belt, having MSc degree in Physics, I bring new insights to the table.</p>

                        <p>Here I show some of my recent projects I have had the opportunity to work on. Below you can find a list of my skills, though this list is exclusive, I`m still learning something new every day.</p>

                        <p>If you are interested to hear more, or have a project in mind, head over to my contact page. I`m sure we can figure something out.</p>
                    </div>

                    <div class="profile-skillbars-wrapper">
                        <ul>
                            <li class="python-skillbar">Python</li>
                            <li class="sql-skillbar">SQL</li>
                            <li class="pandas-skillbar">Pandas</li>
                            <li class="flask-skillbar">Flask</li>
                            <li class="django-skillbar">Django</li>
                            <li class="html-skillbar">HTML</li>
                            <li class="javascript-skillbar">JavaScript</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>