<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  
</head>
<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="index.html">Home</a>
                </div>
                
                <div class="nav-link-wrapper">
                    <a href="about.html">About</a>
                </div>
                
                <div class="nav-link-wrapper">
                    <a href="contact.html">Contact</a>
                </div>
            </div>

            <div class="right-side">
                <div>
                    <a href="https://www.linkedin.com/in/quido-kuiper-6b3529116/"><i class="fa fa-linkedin" style="font-size:24px"></i></a>
                    <a href="https://github.com/qkuiper"><i class="fa fa-github" style="font-size:24px"></i></a>
                </div>
                
                <div class="brand">
                    <div>QUIDO KUIPER</div>
                </div>
            </div>
        </div>

        <div class="contact-wrapper">
            <div class="contactForm">
                <h1>Thank you! I will get in touch with you, shortly!</h1>
            </div>

            <div class="contactinfo">
                <div>
                    <h1>Contact Info</h1>
                    <ul class="info">
                        <li>
                            <span><img src="static/images/icons/location.png"></span>
                            <span>Dwerguilstraat 1<br>
                                1826JZ Alkmaar<br>
                                Netherlands</span>
                        </li>
                        <li>
                            <span><img src="static/images/icons/mail.png"></span>
                            <span>quido.kuiper@gmail.com</span>
                        </li>
                        <li>
                            <span><img src="static/images/icons/phone.png"></span>
                            <span>+31 640213986</span>
                        </li>
                    </ul>
                    <ul class="sci">
                        <li><a href="https://www.linkedin.com/in/quido-kuiper-6b3529116/"><i class="fa fa-linkedin" style="font-size:24px"></i></a></li>
                        <li><a href="https://github.com/qkuiper"><i class="fa fa-github" style="font-size:24px"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>